@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 255, 25, 255; 
  --background-start-rgb: 34, 193, 195;
  --background-end-rgb: 253, 160, 45;
} */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h2 {
  font-weight: 600;
  font-size: 1.25rem;
}
h3 {
  font-weight: 500;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  input {
    padding: 0.25rem;
    border: 1px solid #fff;
    font-weight: 500;
    border-radius: 1rem;
    width: 60%;
    background-color: transparent;
    font-size: 1.25rem;
    @media screen and (max-width: 768px) {
      padding: 0.5rem;
      width: 90%;
      align-items: flex-start;
      font-size: 1rem;
    }
  }
}
.bodyContainer {
  display: flex;
  background-color: white;
  /* justify-content: center; */
  max-width: 35%;
  gap: 1rem;
  height: 100vh;
  @media screen and (max-width: 768px) {
    gap: 0.5rem;
    max-width: 100%;
    flex-direction: column;
  }
}
.inputContainer {
  display: flex;
  width: 100%;
  gap: 0.45rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: black;
}
.inputDiv {
  background-color: rgb(29, 29, 29);
  border-radius: 1rem;
  min-width: 60%;
  padding: 1rem;
  color: white;
  background: "#0F0F0F";
  border-radius: "0.5rem";
}
.mainContainer {
  /* padding: 1rem 3rem; */
  display: flex;
  background-color: #f3f5fb;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}
.react-player video {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}
.videoContainer {
  border: 1px solid black;
}

.fw-600 {
  font-weight: 600;
}
.mainVideoContainer {
  @media screen and (max-width: 768px) {
    width: 100% !important;
  }
}
