@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: 1px solid black;
    font-size: 1.5rem;
  }
}
